<!DOCTYPE html>
<html lang="en">
    
   {% include head.html %}
    
    <body>
        
         {% include nav.html %}
        
      
        <div class="container">
            <div class="dse">
                <a href="index.html">El marqués de las Navas- Edición genética digital</a>
            </div>
            <div class="row g-5">
                <div class="col-md-8" id="contenidotexto">

                    {{ content }}
                    
                  
                </div>
                <div class="col-md-4">
                    <div class="position-sticky" style="padding-top:70px">
                        <div class="p-4 mb-3 bg-body-tertiary rounded">
                            <h4 class="fst-italic">Créditos</h4>
                            <p class="mb-0>
                                    Edición crítica y filológica creada por: Anna Abate
                                    Institución coordinadora: Università di Trento
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
       
         {% include footer.html %}
        
        <script src="assets/scripts.js"></script>
    </body>
</html>
