<!DOCTYPE html>
<html lang="es">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row" style="display: block;">
        <div class="section-grid" id="contenidotexto">
          <section class="home-box" id="presentation">
            <img alt="presentation" class="home-image" src="{{ site.baseurl }}/images/presentation.png" />
            <h2>
              <a href="{{ site.baseurl }}/presentation.html">Presentación</a>
            </h2>
            <p>Bienvenidos a la edición genética digital de <i>El marqués de las Navas</i>, comedia autógrafa de Lope de Vega. Esta plataforma proporciona acceso al texto editado y anotado críticamente. Igualmente, permite la visión sinóptica del facsímil del manuscrito, para apreciar en su totalidad el proceso de composición de la pieza.</p>
          </section>

          <section class="home-box" id="this-edition">
            <img alt="this-edition" class="home-image" src="{{ site.baseurl }}/images/this_edition.png" />
            <h2>
              <a href="{{ site.baseurl }}/edition.html">Esta edición</a>
            </h2>
            <p>En esta sección se presenta información detallada sobre los criterios editoriales que guiaron la elaboración de esta edición, así como el modelo de transcripción adoptado.</p>
          </section>

          <section class="home-box" id="access">
            <img alt="access" class="home-image" src="{{ site.baseurl }}/images/access_text.png" />
            <h2>
              <a href="{{ site.baseurl }}/selection.html">Acceder al texto</a>
            </h2>
            <p>En esta sección se puede consultar tanto la edición genética como la edición crítica del texto. La primera permite seguir el proceso de escritura del autor, mientras que la segunda ofrece una versión establecida según criterios filológicos. Ambas ediciones están disponibles con sus respectivos recursos de consulta.</p>
          </section>

          <section class="home-box" id="documentation">
            <img alt="documentation" class="home-image" src="{{ site.baseurl }}/images/documentation.png" />
            <h2>
              <a href="{{ site.baseurl }}/documentation.html">Documentación</a>
            </h2>
            <p>En esta sección se presenta la documentación técnica del proyecto digital. Se detallan las tecnologías empleadas, la organización del código, y los criterios adoptados para el desarrollo de la edición, con el fin de garantizar la transparencia, la reutilización y la sostenibilidad del trabajo.</p>
          </section>

          <section class="home-box" id="credit">
            <img alt="credit" class="home-image" src="{{ site.baseurl }}/images/credits.png" />
            <h2>
              <a href="{{ site.baseurl }}/credits.html">Créditos</a>
            </h2>
            <p>Esta sección identifica a los integrantes del equipo que participaron en la realización del proyecto, incluyendo tareas de edición, investigación, desarrollo técnico, diseño y coordinación.
          </section>

          <section class="home-box" id="bibliography">
            <img alt="bibliography" class="home-image" src="{{ site.baseurl }}/images/bibliography.png" />
            <h2>
              <a href="{{ site.baseurl }}/bibliography.html">Bibliografía</a>
            </h2>
            <p>Aquí se agrupan los materiales bibliográficos que sustentan los distintos aspectos del proyecto, desde la edición crítica y genética del texto hasta la implementación digital.</p>
          </section>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/scripts.js"></script>
  </body>

</html>
